{% extends 'admin_idex.html' %}
{% block sidebar %}

{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Feedback</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Email ID</th>
                    <th>Feedback</th>   
                  </tr>
                </thead>
                {% for i in fdata %}
                <tbody>
                  <tr id = "row1">
                     <td>
                      {{i.id}}
                     </td>
                      <td>
                          {{i.name}}
                      </td>
                      <td>
                          {{i.email}}
                      </td>
                      <td>
                          {{i.message}}
                      </td> 
                  </tr>
                </tbody>
                {% endfor %}
              </table>
          
          <!-- /.card -->

        
          <!-- /.card -->
        </div>
        <!-- /.col -->
        
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
{% endblock %}