{% extends 'user_home.html' %}
{% block body %}
   
    <div class="card" style="width: 18rem;">
      {% for i in hdata %}
        <img class="card-img-top" src="{{i.himage.url}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{i.hname}}</h3>
          <h5 class="card-text">{{i.haddress}}</h5>
          <h5 class="card-text">{{i.hprice}}</h5>
          <a href="{% url 'singleview' i.id %}" class="btn btn-primary">view Detail</a>
        </div>
      {% endfor %}
    </div>
   
{% endblock %}